<div class = "Product-List">
{{#each products}}
  <div id="{{id}}">
    <h1>Work please</h1>
    <h1>Product: {{name}}</h1>
    <h2>${{price}}</h2>
    <h3>In Stock: Qty {{inventory}}</h3>
    <h4>ID: {{id}}</h4>
  </div>
{{/each}}
</div>


